html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

body {
    scroll-margin: 50px;
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: auto;
}

header {
    background-color: black;
    color: white;
}

#logo {
    display: block;
    margin: auto;
    margin-right: auto;
    width: 250px;
}

#logo img {
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header section,
header nav {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#esquerda {
    flex-grow: 1;
}

header section {
    letter-spacing: 2px;
    font-size: 14pt;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#forms {
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    display: block;
    outline: none;
    box-shadow: 0px 0px 5px #1E90FF;
}

button[type="submit"] {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0080FF;
}

footer {
    background-color: #0044ff;
    padding: 40px 0;
    text-align: center;
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo img {
    width: 200px;
}

#social-links a {
    font-size: 24px;
    color: #333;
    margin: 0 10px;
    transition: color 0.2s;
}

#social-links a:hover {
    color: #0077cc;
}


#menu-links a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.
}