html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

body {
    scroll-margin: 50px;
    margin: 0;
    padding: 0;
}
.container{
    width: 960px;
    margin: auto;
}

header{
    background-color: black;
    color: white;
}

#logo{
    display: block;
    margin: auto;
    margin-right: auto;
    width: 250px;
}

#logo img{
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header section, header nav{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#esquerda{
    flex-grow: 1;
}

header section{
    letter-spacing: 2px;
    font-size: 14pt;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
